@import "style-global.less";

//Maybe globalized?
.button{ display:block; .anchor; .anim; text-decoration:none; .tcenter;
	&:hover{ .anim; }
}


// Arcadium specific styles
@tisa: 'ff-tisa-web-pro';
@nimbus: 'nimbus-sans';

@arcadium:#73A31F; 
@arcadiumHighlight: #73a31f;

@lightGrey:#f2f2f2;
@lightBrown: #6E5C3C;


@mainColor:@arcadium;
@highlight:@arcadiumHighlight;
@bodyColor: @lightBrown;


// Font Configuration

.mainFont{ font-family:@nimbus, @sansSerifFallBacks; }
.titleFont{ font-family:@nimbus, @sansSerifFallBacks; }
.bodyFont{ font-family:@nimbus, @sansSerifFallBacks; }
.quoteFont{ font-family:@tisa, @serifFallBacks; }


.s1{ .fs(56px); }
.s2{ .fs(28px); }
.s3{ .fs(22px, 1.4); }
.s4{ .fs(16px, 1.4); }

.defaultFontStyle{ .mainFont; color:@bodyColor; font-weight:300; line-height:1.5em;  }


body, html{ font-size:100%; .defaultFontStyle; }



//Main Structure
html, body{ width:100%; padding:0; margin:0; .mainFont; }

.fullWidth{ width:100%; }
.noMarginTop{ margin-top:0; }

//Global Sytles
@oddColor:#f2f2f2;
.odd{ background:@oddColor; }
.anchor{ text-decoration:none; border-bottom:2px solid @arcadium; .titleFont; color:@bodyColor;
	&:hover{ color:@arcadium; }
}


//Header
.header{ width:100%; height:336px; margin-bottom:48px; background-repeat: no-repeat; .bg-size(cover); background-image:url('../images/header-arcadium-bkg2.jpg'); background-color:#A0AF5A;  }

	.logo{ width:95%; max-width:473px; height:220px; .rel; top:58px; margin:0 auto; background-image:url('../images/arcadium_logo.png'); .noRepeat; .bg-size(contain); background-position:center;  }


.content{ .flex; .column; .itemsCenter;

	.limitCenter{ width:80%; max-width:800px; margin:0 0 1em 0; }

	//Structures
	.block{ width:100%; .column; .itemsCenter; padding:0 0 24px; }


		blockquote{ width:65%; max-width:1200px; margin:36px; }
		h2{ .pv1; }

		.more{ height:0; .overflow; margin:8px 0;
			p{ width:100%; }
		}

		.more-button{ .button; .ib; margin:0 auto; }


	.caption{ margin:8px 0 24px; }

	.attribution{ color:white; padding:16px; .ts(0px 0px 1px fade(black,5%)); }


	.links{ .limitCenter; width:60%;
		li{ list-style:none; padding-left:0; .mv3; .p; }
		a{ .anchor; .s3; }
	}

	.max1000{ max-width:1000px; }


	//Styles

	h2{ .s1; font-weight:300; letter-spacing:-1.15px; .titleFont; .tcenter; }
	h3{ .s2; color:@bodyColor; .titleFont; font-weight:500; }
	.p, li{ .s3; line-height:1.5; .titleFont; color:@bodyColor; text-align:left; letter-spacing:0.05px;
		a{ .anchor; }
	}
	strong{ color:@highlight; }
	blockquote{ .s3; .quoteFont; .tcenter; font-style:italic; color:@arcadium;
		.author{ .s4; margin-top:16px; font-weight:bold; .tcenter; }
		a{ color:@arcadium; }
	}
	.caption{ .s4; }



	p{ .p; .limitCenter; }


	//Images
	.image-grid{ .flex; .row; justify-content:center; flex-wrap:wrap;
		.img{ width:200px; height:200px; margin:16px; }
	}
	.img{ background-position:center center; .bg-size(cover); .flex;
		&.edged{ width:100%;  height:310px; }
		&.tall{ @height:500px; width:@height/3*2; height:@height; }
		&.wide{ @width:400px; width:@width; height:@width/16*9; }
		&.contain{ .bg-size(contain); }
	}



	//Buttons

	@collapsedPadding:10px 20px;
	@expandedPadding:10px 60px;


	.more-button{ margin:4px 0; padding:@collapsedPadding; color:@bodyColor; .titleFont; .s3; font-weight:400; border-bottom:2px solid @bodyColor;
		&:hover{ padding:@expandedPadding; color:@arcadium; }
		&.expanded{ padding:@expandedPadding; }
		&.expanded:hover{ padding:@collapsedPadding; }
	}


	//Timeline
	.timeline{ .rel; .titleFont;
		@timelineColor: @bodyColor;
		.line{ width:1px; height:77%; .abs; left:8px; top:18px; background:lighten(@timelineColor, 50%);}
		.event{ margin-bottom:10px; 
			.event-text{ font-weight:bold; margin-left:20px; .s3; color:@bodyColor;
				&:before{ content:'•'; position:relative; .fs(1.4em); left:-22px; top:4px; color:@timelineColor; }
			}
			.date{ margin-left:41px; font-size:1.2em; .op(0.5); }
		}
	}

}

.footer{
	.contact{ .s3; font-weight:400; .pv6; }
		a{ color:@arcadium; }
}



.justifyFlexEnd{ justify-content:flex-end; }


.password{ .cover-all; .fixed; background:white; z-index:9999;
	.input{width:330px; height:32px; .abs; .valign; left:50%; margin-left:-150px;
		input{ width:200px; height:100%; padding:3px 10px; .rel; top:-1px; background:fade(black,5%); border:0; .mainFont; .br(4px); }
		.button{ .button; .mainFont; display:inline; }
	}
}