article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin: 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.pv1 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.pv2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pv3 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.pv4 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pv5 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pv6 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.ph1 {
  padding-left: 4px;
  padding-right: 4px;
}
.ph2 {
  padding-left: 8px;
  padding-right: 8px;
}
.ph3 {
  padding-left: 12px;
  padding-right: 12px;
}
.ph4 {
  padding-left: 16px;
  padding-right: 16px;
}
.ph5 {
  padding-left: 20px;
  padding-right: 20px;
}
.ph6 {
  padding-left: 24px;
  padding-right: 24px;
}
.ph7 {
  padding-left: 28px;
  padding-right: 28px;
}
.mv1 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.mv2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mv3 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.mv4 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mv5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mv6 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.mh1 {
  margin-left: 4px;
  margin-right: 4px;
}
.mh2 {
  margin-left: 8px;
  margin-right: 8px;
}
.mh3 {
  margin-left: 12px;
  margin-right: 12px;
}
.mh4 {
  margin-left: 16px;
  margin-right: 16px;
}
.mh5 {
  margin-left: 20px;
  margin-right: 20px;
}
.mh6 {
  margin-left: 24px;
  margin-right: 24px;
}
.mh7 {
  margin-left: 28px;
  margin-right: 28px;
}
.rounded {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.itemsCenter {
  align-items: center;
}
.itemsBaseline {
  align-items: baseline;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyAround {
  justify-content: space-around;
}
.justifyCenter {
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  flex-direction: column;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrap {
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}
::-webkit-scrollbar {
  display: none;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.overflow {
  overflow: hidden;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.anchor {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.hide,
.hidden {
  display: none;
  visibility: hidden;
}
.show,
.shown {
  display: block;
  visibility: visible;
}
.bold {
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
.ignorecase {
  text-transform: none;
}
.tcenter {
  text-align: center;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}
.icon-16 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}
/*== TRANSITIONS ==*/
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.noRepeat {
  background-repeat: no-repeat;
}
.button {
  display: block;
  cursor: pointer;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  color: #73a31f;
}
.button:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.button:hover {
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
}
.button:hover:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.mainFont {
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
}
.titleFont {
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
}
.bodyFont {
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
}
.quoteFont {
  font-family: 'ff-tisa-web-pro', "Times New Roman", serif;
}
.s1 {
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0;
}
.s2 {
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0;
}
.s3 {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
}
.s4 {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
}
.defaultFontStyle {
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  font-weight: 300;
  line-height: 1.5em;
}
body,
html {
  font-size: 100%;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  font-weight: 300;
  line-height: 1.5em;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
}
.fullWidth {
  width: 100%;
}
.noMarginTop {
  margin-top: 0;
}
.odd {
  background: #f2f2f2;
}
.anchor {
  text-decoration: none;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
}
.anchor:hover {
  color: #73a31f;
}
.header {
  width: 100%;
  height: 336px;
  margin-bottom: 48px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/header-arcadium-bkg2.jpg');
  background-color: #A0AF5A;
}
.logo {
  width: 95%;
  max-width: 473px;
  height: 220px;
  position: relative;
  top: 58px;
  margin: 0 auto;
  background-image: url('../images/arcadium_logo.png');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .limitCenter {
  width: 80%;
  max-width: 800px;
  margin: 0 0 1em 0;
}
.content .block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 24px;
}
.content blockquote {
  width: 65%;
  max-width: 1200px;
  margin: 36px;
}
.content h2 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.content .more {
  height: 0;
  overflow: hidden;
  margin: 8px 0;
}
.content .more p {
  width: 100%;
}
.content .more-button {
  display: block;
  cursor: pointer;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}
.content .more-button:hover {
  color: #73a31f;
}
.content .more-button:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.content .more-button:hover {
  -webkit-transition-property: all;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 100ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 100ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 100ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 100ms;
  transition-timing-function: linear;
}
.content .more-button:hover:hover {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: linear;
}
.content .caption {
  margin: 8px 0 24px;
}
.content .attribution {
  color: white;
  padding: 16px;
  -webkit-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
  -moz-text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05);
}
.content .links {
  width: 80%;
  max-width: 800px;
  margin: 0 0 1em 0;
  width: 60%;
}
.content .links li {
  list-style: none;
  padding-left: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  line-height: 1.5;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  text-align: left;
  letter-spacing: 0.05px;
}
.content .links li a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
}
.content .links li a:hover {
  color: #73a31f;
}
.content .links a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
}
.content .links a:hover {
  color: #73a31f;
}
.content .max1000 {
  max-width: 1000px;
}
.content h2 {
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 300;
  letter-spacing: -1.15px;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  text-align: center;
}
.content h3 {
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0;
  color: #6e5c3c;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  font-weight: 500;
}
.content .p,
.content li {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  line-height: 1.5;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  text-align: left;
  letter-spacing: 0.05px;
}
.content .p a,
.content li a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
}
.content .p a:hover,
.content li a:hover {
  color: #73a31f;
}
.content strong {
  color: #73a31f;
}
.content blockquote {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-family: 'ff-tisa-web-pro', "Times New Roman", serif;
  text-align: center;
  font-style: italic;
  color: #73a31f;
}
.content blockquote .author {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  margin-top: 16px;
  font-weight: bold;
  text-align: center;
}
.content blockquote a {
  color: #73a31f;
}
.content .caption {
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
}
.content p {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  line-height: 1.5;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
  text-align: left;
  letter-spacing: 0.05px;
  width: 80%;
  max-width: 800px;
  margin: 0 0 1em 0;
}
.content p a {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #73a31f;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  color: #6e5c3c;
}
.content p a:hover {
  color: #73a31f;
}
.content .image-grid {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.content .image-grid .img {
  width: 200px;
  height: 200px;
  margin: 16px;
}
.content .img {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.content .img.edged {
  width: 100%;
  height: 310px;
}
.content .img.tall {
  width: 333.33333333px;
  height: 500px;
}
.content .img.wide {
  width: 400px;
  height: 225px;
}
.content .img.contain {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.content .more-button {
  margin: 4px 0;
  padding: 10px 20px;
  color: #6e5c3c;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 400;
  border-bottom: 2px solid #6e5c3c;
}
.content .more-button:hover {
  padding: 10px 60px;
  color: #73a31f;
}
.content .more-button.expanded {
  padding: 10px 60px;
}
.content .more-button.expanded:hover {
  padding: 10px 20px;
}
.content .timeline {
  position: relative;
  font-family: 'nimbus-sans', Helvetica, Arial, Sans-Serif, sans-serif;
}
.content .timeline .line {
  width: 1px;
  height: 77%;
  position: absolute;
  left: 8px;
  top: 18px;
  background: #e1d8c8;
}
.content .timeline .event {
  margin-bottom: 10px;
}
.content .timeline .event .event-text {
  font-weight: bold;
  margin-left: 20px;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #6e5c3c;
}
.content .timeline .event .event-text:before {
  content: '•';
  position: relative;
  font-size: 1.4em;
  line-height: 1;
  letter-spacing: 0;
  left: -22px;
  top: 4px;
  color: #6e5c3c;
}
.content .timeline .event .date {
  margin-left: 41px;
  font-size: 1.2em;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(50));
  filter: alpha(opacity = (50));
  opacity: 0.5;
}
.footer .contact {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer a {
  color: #73a31f;
}
.justifyFlexEnd {
  justify-content: flex-end;
}
